<a href="https://colab.research.google.com/github/chaiai/deep-learning/blob/main/billboard_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://towardsdatascience.com/web-scraping-metacritic-reviews-using-beautifulsoup-63801bbe200e

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://www.billboard.com/charts/year-end/2002/top-billboard-200-albums'

user_agent = {'User-agent': 'Mozilla/5.0'}
response = requests.get(url, headers=user_agent)

soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
billboard_dict = {'title':[], 'artist':[], 'rank':[], 'year':[]}

In [ ]:
for chart in soup.find_all('div', class_='ye-chart-item__text'):
  #billboard_dict['title'].append(chart.find('div', class_='ye-chart-item__title').text)
#billboard_dict['title']

In [ ]:
for chart in soup.find_all('div', class_='chart-details'):
  for t in soup.find_all('div', class_='ye-chart-item__text'):
    billboard_dict['title'].append(t.find('div', class_='ye-chart-item__title').text)
    billboard_dict['artist'].append(t.find('div', class_='ye-chart-item__artist').text)
  for r in soup.find_all('div', class_='ye-chart-item__primary-row'):
    billboard_dict['rank'].append(r.find('div', class_='ye-chart-item__rank').text)
  for y in soup.find_all('span', class_='dropdown dropdown__year-select'):
    billboard_dict['year'].append()

billboard_dict['year']

['2002']

In [ ]:
for chart in soup.find_all('div', class_='chart-details'):
  for t in soup.find_all('div', class_='ye-chart-item__text'):
    billboard_dict['title'].append(t.find('div', class_='ye-chart-item__title').text)
    billboard_dict['artist'].append(t.find('div', class_='ye-chart-item__artist').text)
  for r in soup.find_all('div', class_='ye-chart-item__primary-row'):
    billboard_dict['rank'].append(r.find('div', class_='ye-chart-item__rank').text)
  for y in range(2002,2018):
    billboard_dict['year'][0:100].append(y)

billboard_dict['year']

In [ ]:
import itertools
years_range = list(range(2002,2018))
year_list = []
for y in years_range:
  year_list.extend(list(itertools.repeat(y, 200)))


year_list[-201:]

In [ ]:
import itertools
year_list_iter = list(itertools.repeat(2002,200))
year_list_iter

In [ ]:
billboard_dict['year'] = []
billboard_dict['year']:year_list[1]
billboard_dict['year']

[]

In [ ]:
import requests
from bs4 import BeautifulSoup

import time
import random as rand
import itertools

import pandas as pd

billboard_dict = {'title':[], 'artist':[], 'rank':[], 'year':[]}
year_list = []

for year in range(2002,2018):
  url = 'https://www.billboard.com/charts/year-end/'+ str(year) + '/top-billboard-200-albums'
  user_agent = {'User-agent': 'Mozilla/5.0'}
  response = requests.get(url, headers=user_agent)
  time.sleep(3)
  soup = BeautifulSoup(response.text, 'html.parser')
  title_count = []
  for t in soup.find_all('div', class_='ye-chart-item__text'):
    title = t.find('div', class_='ye-chart-item__title').text.strip().lower()
    billboard_dict['title'].append(title)
    billboard_dict['artist'].append(t.find('div', class_='ye-chart-item__artist').text.strip().lower())  
    title_count.append(title)
  title_count = len(title_count)
  year_list.extend(list(itertools.repeat(year, title_count)))
  for r in soup.find_all('div', class_='ye-chart-item__primary-row'):
    billboard_dict['rank'].append(r.find('div', class_='ye-chart-item__rank').text.strip())

billboard_dict['year'].extend(year_list)

billboard_dict

In [ ]:
billboard_dict.keys()

dict_keys(['title', 'artist', 'rank', 'year'])

In [ ]:
print([len(billboard_dict[x]) for x in billboard_dict if isinstance(billboard_dict[x], list)])

[3166, 3166, 3166, 3166]

In [ ]:
import pickle
billboard_df = pd.DataFrame(billboard_dict)
billboard_df.to_pickle('billboard_df.pkl')
billboard_df

                                   title           artist rank  year
0                        the eminem show           eminem    1  2002
1                              weathered            creed    2  2002
2                             nellyville            nelly    3  2002
3                          m!ssundaztood             p!nk    4  2002
4                        [hybrid theory]      linkin park    5  2002
...                                  ...              ...  ...   ...
3161  sing it now: songs of faith & hope    reba mcentire  196  2017
3162                             beyonce          beyonce  197  2017
3163                   the ultimate hits     garth brooks  198  2017
3164                         the breaker  little big town  199  2017
3165                         heart break  lady antebellum  200  2017

[3166 rows x 4 columns]

In [ ]:
!cp billboard_df.pkl '/content/drive/MyDrive/Projects/pitchfork'

In [ ]:
billboard_df.loc[billboard_df['year'] == 2016]

                           title                    artist rank  year
2766                          25                     Adele    1  2016
2767                       Views                     Drake    2  2016
2768                     Purpose             Justin Bieber    3  2016
2769                    Lemonade                   Beyonce    4  2016
2770                        ANTI                   Rihanna    5  2016
...                          ...                       ...  ...   ...
2961  Letters From The Labyrinth  Trans-Siberian Orchestra  196  2016
2962          California Sunrise                 Jon Pardi  197  2016
2963                      Stages               Josh Groban  198  2016
2964          BLACKsummers'night                   Maxwell  199  2016
2965                        1999                    Prince  200  2016

[200 rows x 4 columns]

In [ ]:
billboard_df.artist.unique()